.contact
    padding: 50px 0px
    .contact-content
        margin: auto
        max-width: 950px
        display: grid
        grid-template-columns: repeat(2,1fr)
        grid-gap: 20px
        color: #fff